*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search{
    display: flex;
    justify-content: center;
}

.search input{
    width: 300px;
    height: 20px;
    margin: 20px;
}

.movieDetails{
    width: 400px;
}

.movieDetails img{
    width: 400px;
}

.movieTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movieContainer{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));    
    margin: auto;
}